* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    min-height      : 100vh;
    background-color: #1c1b49;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.container {
    display        : flex;
    justify-content: center;
}

.item {
    width           : 20px;
    height          : 20px;
    background-color: #ffb300;
    margin          : 12px;
    border-radius   : 50%;
    background-image: linear-gradient(145deg,
            rgba(255, 255, 255, 0.6),
            rgba(0, 0, 0, 0));
    animation: scaleAnimation 1s linear infinite;
}

@keyframes scaleAnimation {
    0%,
    50%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.6);
    }

    75% {
        transform: scale(1.1);
    }
}

.red {
    background-color: #f8005f;
    animation-delay: 0.1s;
}

.blue {
    background-color: #00e1ff;
    animation-delay: 0.2s;
}

.violet {
    background-color: #e100ff;
    animation-delay: 0.3s;
}